.calculator {
    height: 320px;
       width: 235px;
       border-radius: 5px;
       overflow: hidden;
       box-shadow: 1px 1px  42px white;
       display: grid;
       grid-template-columns: repeat(4, 25%);
       grid-template-rows: 1fr 48px 48px 48px 48px 48px;
}
