@font-face {
  font-family: 'RobotoMono';
  src: url('./fonts/RobotoMono-Thin.ttf');
}
*{
  font-family: 'RobotoMono', sans-serif;
  overflow: hidden;
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, rgb(0, 0, 0), rgb(67, 67, 67)); 
 }
 
 h1{
   color: rgb(218, 218, 218);
 }

 .all-items {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content:flex-start;
   height: 500px;
   width: 400px;
  
 }
